h1{
    margin: auto;
    text-align: center;
    color: white;
}

.animalButton{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;

    
    
}

#newButtonForm{
    margin-top: 10px;
    margin-left: 10px;
}

#gifReturns{
    margin-left: 10px;
    margin-top: 15px;
   border: 1px solid white;
   width: 25rem
}


body {
    background-image: url(../cool_background2.jpg);
    
}
